body{
  padding: 0px;
  margin: 0px;
}




body > div.content{
    background-image: url("./bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    justify-content: space-around;

}


#contentBlog{
    background-image: url("./bg.jpg");
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
}


/* blog grid */
#contentBlog > div{
    padding-top: 50px;
    width: 1000px;
    color: black;
    height: auto;
    overflow: hidden;
}

/* blog page title */
#contentBlog > div > h1{
    color: white;
    text-align: center;
    font-size: 50px;
}

.card{
    height: 260px;
    margin-top: 120px;
    padding: 20px;
}

.header{
    color: white;
    margin-top: 180px ;
    width: 670px;
   
}

/* increasing text size */
body > div > div.header > h1{
    font-size: 60px;
}
footer{
    height: 50px;
    background-color: white;
    color: black;
    padding: 30px;
    text-align: center;
}


/* chat window styling */


#chatContent{
    background-image: url("./bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    justify-content: center;
    

}

#window{
    margin-top: 100px;
    border: 2px wheat solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 30px;
   
    width: 600px;
    height: 600px;
}   

#output {
    
    height: 500px;
    background-color: white;
    
}

@media only screen and (max-width: 600px) {
    #window{
        margin-top: 100px;
        border: 2px wheat solid;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 30px;
       
        width: 300px;
        height: 500px;
    }   
    

    #output {
    
        height: 500px;
        background-color: white;
        overflow: scroll;
        
    }
  }